@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

/* CSS navbar  */
.bg-white {
    background: color #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #97916e;
}
.nav-link {
    display: block;
    /* padding: 0.5rem 1rem; */
    color: #97916e;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.logo{
    height: 120px;
    line-height: 120px;
        
}
/* CSS Footer  */
.footerPosition{
    background-color: #97916e;
        height:auto;
        width: 100%;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;   
        
    
        color: #fff;
}
.footerPosition a {
    color: #fff;
    text-decoration: none;
}
.footerPosition a:hover {
    background-color: #97916e;
    text-decoration: underline 1px;
}
.fontsizeA{
    font-size: 16px;
}
/* CSS homePage */
.about{
    background-color: #fff;
    color: #97916e;
}
h1{
    display:flex;
    justify-content: center;
    padding-top: 10px;
}
.text{
    font-size: 18px;
    padding: 20px 300px 20px 300px;  
}
.imgHomePage{
    height:100%;
    width: 100%;
}
.imgFlakeNails{
    width: 82%;
    padding-left: 12%;
    padding-top: 5%;
    border-radius: 3%;
}
.imgRainbowNails{
    width: 70%;
    padding-left: 12%;
    padding-top: 5%;
    border-radius: 3%;
}
.imgOrangeNails{
    width: 70%;
    padding-left: 12%;
    padding-top: 5%;
    border-radius: 3%;
}
.callToAction{
    margin-left: 50%;
    margin-bottom: 5%;   
    background-color: #97916e;
    color: #fff;
    border-radius: 5%;
}

/* CSS inscription */
.formulaire{
    color: #97916e;
}
.imgInscription{
    margin-left: 150px;
}
/* CCS Profil */
.tableau-style{
    border-collapse: collapse;
    min-width: 300px;
    width: auto;
    cursor: pointer;
    margin: 13% auto;
    border: 2px solid #97916e;
}
thead tr {
    background-color: #97916e;
    color: #000;
    text-align: left;
}
th,td{
    padding: 15px 20px;    
}
tbody tr, td, th{
    border: 1px solid grey;
}
.icon{
    display: flex;
    justify-content: center;
}